/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * SixtyOne implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * sixtyone.css
 *
 * SixtyOne stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (sixtyone_sixtyone.tpl), and to HTML elements you create dynamically
    (in sixtyone.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/* Note: you must not use any @import directive */


/********* You can start writing your CSS below this line: **********/
/* latin-ext */
@font-face {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/caveatbrush/v11/EYq0maZfwr9S9-ETZc3fKXt8UrOS43o.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
  /* latin */
@font-face {
    font-family: 'Caveat Brush';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/caveatbrush/v11/EYq0maZfwr9S9-ETZc3fKXt8XLOS.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.sxt_player_area {
    display: flex;
    flex-direction: column;
}

.sxt_dice_area {
    box-sizing: border-box;
    width: 900px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 10px 0 10px;
    background-color: #85c583;
    border-radius: 5px;
    border: 3px solid #5fa35e;
}

.sxt_die {
    width: 55px;
    height: 55px;
    background-repeat: none;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 10px 60px;
    /* box-shadow: 10px 5px 5px rgb(1, 109, 10); */
}

.sxt_die_clickable {
    cursor: pointer;
    border: 1px dashed black;
}

.sxt_die_selected {
    border: 1px dashed red;
}

.sxt_die_used {
    opacity: .6;
}

.sxt_die_1 {
    background-image: url("img/55_55_dice.png");
    background-position: 0px 0px;
}

.sxt_die_2 {
    background-image: url("img/55_55_dice.png");
    background-position: -55px 0px;
}

.sxt_die_3 {
    background-image: url("img/55_55_dice.png");
    background-position: -110px 0px;
}

.sxt_die_4 {
    background-image: url("img/55_55_dice.png");
    background-position: -165px 0px;
}

.sxt_die_5 {
    background-image: url("img/55_55_dice.png");
    background-position: -220px 0px;
}

.sxt_die_6 {
    background-image: url("img/55_55_dice.png");
    background-position: -275px 0px;
}

.sxt_player_name {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    font-size: 22px;
    width: 500px;
    height: 30px;
    background-color: white;
    margin: 10px 10px 0px calc(10px + (900px / 2) - (500px / 2));
    border-radius: 30px 30px 0 0;
    border: 2px solid #c38876;
}

.sxt_player_board {
    float:left;
    position: relative;
    width: 900px;
    height: 634px;
    margin: 0px 10px 10px 10px;
    background-image: url("img/playerboard.jpg");
}

.sxt_area {
    position: absolute;
    opacity: 0;
}

.sxt_area_clickable {
    cursor: pointer;
}

.sxt_area_clickable:hover {
    opacity: .3;
}

.sxt_area_unclickable {
    opacity: .3;
    filter: invert(1);
}

.sxt_area_1 {
    width: 324px;
    height: 166px;
    background-image: url("img/area_1.png");
}

.sxt_area_2 {
    width: 280px;
    height: 200px;
    background-image: url("img/area_2.png");
}

.sxt_area_3 {
    width: 283px;
    height: 192px;
    background-image: url("img/area_3.png");
}

.sxt_area_4 {
    width: 312px;
    height: 218px;
    background-image: url("img/area_4.png");
}

.sxt_area_5 {
    width: 342px;
    height: 197px;
    background-image: url("img/area_5.png");
}

.sxt_area_6 {
    width: 278px;
    height: 177px;
    background-image: url("img/area_6.png");
}

.sxt_leave {
    font-family: 'Caveat Brush', cursive;
    position: absolute;
    text-align: center;
    background-color: beige;
    opacity: .5;
    width: 27px;
    height: 27px;
}

.sxt_location {
    font-family: 'Caveat Brush', cursive;
    text-align: center;
    border: 1px dashed transparent;
    font-size: 40px;
    line-height: 54px;
}

.sxt_location_area_1_big {
    position: absolute;
    /* background-color: white;
    opacity: .5; */
    width: 42px;
    height: 42px;
    border-radius: 21px;
    /* border: 1px dashed black; */
}

.sxt_location_area_1_small {
    position: absolute;
    /* background-color: white;
    opacity: .5; */
    width: 36px;
    height: 36px;
    border-radius: 18px;
    /* border: 1px dashed black; */
}

.sxt_location_area_2 {
    position: absolute;
    /* background-color: white;
    opacity: .5; */
    width: 52px;
    height: 52px;
    border-radius: 26px;
    /* border: 1px dashed black; */
}

.sxt_location_area_3 {
    position: absolute;
    /* background-color: white;
    opacity: .5; */
    width: 41px;
    height: 51px;
    border-radius: 50% / 30%;
    /* border: 1px dashed black; */
}

.sxt_location_area_3_left {
    transform: rotate(12deg);
}

.sxt_location_area_3_right {
    transform: rotate(-14deg);
}

.sxt_location_area_4 {
    position: absolute;
    /* background-color: white;
    opacity: .5; */
    width: 44px;
    height: 55px;
    border-radius: 50% / 10%;
    /* border: 1px dashed black; */
}

.sxt_location_area_5 {
    position: absolute;
    /* background-color: white;
    opacity: .5; */
    width: 44px;
    height: 44px;
    border-radius: 22px;
    /* border: 1px dashed black; */
}

.sxt_location_area_6 {
    position: absolute;
    /* background-color: white; */
    /* opacity: .5; */
    width: 41px;
    height: 31px;
    border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
    /* border: 1px dashed black; */
}

.sxt_location_clickable {
    background-color: white;
    opacity: .5;
    border: 1px dashed black;
}

.sxt_location_clickable:hover {
    opacity: .7;
    cursor: pointer;
}

.sxt_score {
    font-family: 'Caveat Brush', cursive;
    position: absolute;
    background-color: white;
    opacity: .5;
    width: 57px;
    height: 50px;
    border: 1px dashed black;
}

/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/




